@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    width: 500px;
    height:120px;
    margin:35px;
    
}

#subtitle {
    background: black;
    color: white;
    width:500px;
    
    margin:35px ;
    
}

.topic {
    background: lightgray;
    display: inline-block;
    margin:50px;
    
}

